@import url('bootstrap');

body {
  font-family: 'Open Sans Variable', sans-serif;
}
header{
  display:flex;
  align-items: center;
  justify-content: space-around;
 
  margin: 20px;
}
a{
  padding:7px;
}

.firstContainer{
  background-color: black;
  padding: 50px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  background-color: black;
  margin:40px;
}
h3{
  font-size:10px;
  color:white;
  text-align: center;
}
.img-card{

  height: 200px;
  width: 200px;

}
.btn-load{
  background-color: rgb(44, 44, 235);
  color:white;
}
.secondContainer{
  background-color: rgb(38, 126, 198);
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}


p{
  color:white;
  font-size: 10px;
  padding: 10px
}
  .logopower{
    height:50px;
}
.secondContainer img {
  height: 60px;
  margin-left: 40px;
}

footer{
  background-image: url('./assets/img/footer-bg.jpg');
  position:relative;
  
}
.imgfoot{
position:absolute;
}
.title{
  color:white;
  font-size: 20px;

}
footer ul{
  color: grey;
  font-size: 10px;
  
}
footer li{
  display:inline-block;
  
}
.foot{
  background-color: rgb(52, 51, 51);
  display:flex;
align-items: center;
padding:30px;

}
.listFooter{
  display:flex;
  
}
button{
  background-color:rgb(52, 51, 51) ;
  color:white;
  border-color: blue;
  margin:30px;
}

 .foot img{
  height:20px;
}
.text-foot{
  margin:0 0 0 500px;
  color:blue;
}
